/*
Error: Invalid CSS after "$size": expected expression (e.g. 1px, bold), was ";"
        on line 18 of /Users/miketaylor/Documents/framework/SASS/_fontsize.sass

13:   @return #{$remSize}rem;
14: 
15: 
16: // Mixin that will include the fall back px declaration as well as the calculated rem value.
17: @mixin fontSize($size)
18:   font-size: $size;
19:   font-size: calculateRem($size)

Backtrace:
/Users/miketaylor/Documents/framework/SASS/_fontsize.sass:18
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/lexer.rb:227:in `expected!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:702:in `assert_done'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:64:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:223:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script.rb:27:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:1145:in `parse_script'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:718:in `parse_property'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:689:in `parse_property_or_rule'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:655:in `parse_line'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:533:in `build_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:552:in `block in append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:551:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:551:in `append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:542:in `block in build_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:535:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:535:in `build_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:552:in `block in append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:551:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:551:in `append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:406:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:414:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/sass:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$size\": expected expression (e.g. 1px, bold), was \";\"\A         on line 18 of /Users/miketaylor/Documents/framework/SASS/_fontsize.sass\A \A 13:   @return #{$remSize}rem;\A 14: \A 15: \A 16: // Mixin that will include the fall back px declaration as well as the calculated rem value.\A 17: @mixin fontSize($size)\A 18:   font-size: $size;\A 19:   font-size: calculateRem($size)"; }
