body {
  min-width: 60rem;
  background-color: $foundation-white;
  color: $text-color;
  font-family: $font-stack;
  font-weight: $font-weight-400;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.5;
  margin: auto; //was 0
  padding-top: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

.row {
width:960px;
margin:auto;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  color: $link-color-hover;
  text-decoration: underline;
}

hr {
  border-top: 1px solid $foundation-color-6363;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 1px;
  margin: 1rem 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


///tutorial stuff
.showcasing_grid{
  background-color: $foundation-color-e8e8;
  padding: 5px;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid $foundation-color-c7c7;
  margin: .5rem 0;
}
