/*------------------------------------*\
* Buttons */
/*------------------------------------ */
.button
{
  border: none;
}

a.success-button,
a.warning-button,
a.info-button,
a.danger-button,
a.primary-button {
  text-decoration: none;
  color: $foundation-color-e6e6;
}

.button {
  @include buttons($primary-button-color, $primary-button-background);
  @include button-size($foundation-padding-vertical, $foundation-padding-horizontal, $button-font-size, $foundation-line-height);
  display: inline-block;
  font-family: $font-stack;
  font-weight: $font-weight-400;
  text-decoration: none;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.small-button {
  @include buttons($primary-button-color, $primary-button-background);
  @include button-size($foundation-padding-small-vertical, $foundation-padding-small-horizontal, $button-font-size-small, $line-height-small);
}

.large-button {
  @include buttons($primary-button-color, $primary-button-background);
  @include button-size($foundation-padding-large-vertical, $foundation-padding-large-horizontal, $button-font-size-small, $line-height-large);
}

.pill-button {
  @include buttons($primary-button-color, $primary-button-background);
  @include border-radius($border-radius * 4);
}

.link-button {
  @include disable-selection;
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  pointer-events:none;
}

.full-button {
  display: block;
  width: 100%;
}

.default-button {
  @include button-version($default-button-color, $default-button-background);
  color: $foundation-white;
  text-decoration: none;
  border: $foundation-color-cccc;
  border-style: solid;
  border-width: thin;
}

.primary-button {
  @include button-version($primary-button-color, $primary-button-background);
}

.danger-button {
  @include button-version($danger-button-color, $danger-button-background);
}

.info-button {
  @include button-version($info-button-color, $info-button-background);
}

.warning-button{
  @include button-version($warning-button-color, $warning-button-background);
}

.success-button {
  @include button-version($success-button-colour, $success-button-background);
}
