/*------------------------------------*\
* Buttons*/
/*------------------------------------ */
.button
{
  border: none;
}

a.button-success,
a.button-warning,
a.button-info,
a.button-danger,
a.button-primary {
  text-decoration: none;
  color: $foundation-color-e8e8;
}

.button {
  @include buttons($button-primary-color, $button-primary-background);
  @include button-size($foundation-padding-vertical, $foundation-padding-horizontal, $button-font-size, $foundation-line-height);
  display: inline-block;
  font-family: $font-stack;
  font-weight: $font-weight-400;
  text-decoration: none;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.button-small {
  @include buttons($button-primary-color, $button-primary-background);
  @include button-size($foundation-padding-small-vertical, $foundation-padding-small-horizontal, $button-font-size-small, $line-height-small);
}

.button-large {
  @include buttons($button-primary-color, $button-primary-background);
  @include button-size($foundation-padding-large-vertical, $foundation-padding-large-horizontal, $button-font-size-small, $line-height-large);
}

.button-pill {
  @include buttons($button-primary-color, $button-primary-background);
  @include border-radius($border-radius * 4);
}

.button-link {
  @include disable-selection;
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  pointer-events:none;
}

.button-full {
  display: block;
  width: 100%;
}

.button-default {
  @include button-version($button-default-color, $button-default-background);
  color: $foundation-color-a6a6;
  text-decoration: none;
  border: $foundation-color-e8e8;
  border-style: solid;
  border-width: thin;
}

.button-primary {
  @include button-version($button-primary-color, $button-primary-background);
}

.button-danger {
  @include button-version($button-danger-color, $button-danger-background);
}

.button-info {
  @include button-version($button-info-color, $button-info-background);
}

.button-warning{
  @include button-version($button-warning-color, $button-warning-background);
}

.button-success {
  @include button-version($button-primary-color, $button-success-background);
}
