/*------------------------------------*\
 * Grid System */
/*------------------------------------ */
.col {
  float: left;
  min-height: 1px;

  @media #{$breakpoint-mobile} {
	  float: none;
	  width: 100%;
	  margin-left: 0;
  }

  @media #{$breakpoint-desktop} {
	  @include rem(margin-left, 30);
  }

}

.row {
  @media #{$breakpoint-desktop} {
	    @include rem(margin-left, -30);
	    *zoom: 1;
	}
	@media #{$breakpoint-mobile} {
		@include rem(margin-left, 0);
	}
	  @include rem(margin-left, -20);
	  *zoom: 1;
}

  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: ""; }

  .row:after {
    clear: both; }


.container {
	@include rem(width, 960);
	margin-left: auto;
	margin-right: auto;

  @media #{$breakpoint-mobile} {
		width: 95%;
		width: auto;
		float: none;
	}

	@media #{$breakpoint-tablet} {
		@include rem(width, 767);
	}

	@media #{$breakpoint-desktop} {
		@include rem(width, 960);
	}
}

.col12 {
	@include rem(width, 960);

	@media #{$breakpoint-desktop} {
		@include rem(width, 960);
	}
	@media #{$breakpoint-tablet} {
		@include rem(width, 767);
	}
	@media #{$breakpoint-mobile} {
		 width: 100%;
	}
}


.col9 {
  @include rem(width, 620);

	@media #{$breakpoint-desktop} {
	  @include rem(width, 620);
	}
	@media #{$breakpoint-tablet} {
		@include rem(width, 438);
	}
	@media #{$breakpoint-mobile} {
		 width: 100%;
	}
}

.col8 {
	@include rem(width, 700);

	@media #{$breakpoint-desktop} {
		@include rem(width, 700);
	}
	@media #{$breakpoint-tablet} {
		@include rem(width, 476);
	}
	@media #{$breakpoint-mobile} {
		 width: 100%;
	}
}

.col6 {
  @include rem(width, 460);

	@media #{$breakpoint-desktop} {
		@include rem(width, 460);
	}
	@media #{$breakpoint-tablet} {
		@include rem(width, 352);
	}
	@media #{$breakpoint-mobile} {
		 width: 100%;
	}
}

.col4 {
	@include rem(width, 220);

	@media #{$breakpoint-desktop} {
		@include rem(width, 220);
	}
	@media #{$breakpoint-tablet} {
		@include rem(width, 228);
	}
	@media #{$breakpoint-mobile} {
		 width: 100%;
	}
}

.col3 {
	@include rem(width, 300);

	@media #{$breakpoint-desktop} {
		@include rem(width, 300);
	}
	@media #{$breakpoint-tablet} {
		@include rem(width, 166);
	}
	@media #{$breakpoint-mobile} {
		 width: 100%;
	}
}

.col1 {
	@include rem(width, 60);

	@media #{$breakpoint-desktop} {
		@include rem(width, 60);
	}
	@media #{$breakpoint-tablet} {
		@include rem(width, 42);
	}
	@media #{$breakpoint-mobile} {
		 width: 100%;
	}
}

.row-fluid {
  width: 100%;
  *zoom: 1; }

.row-fluid:after {
  clear: both; }

.row-fluid [class^="col"] {

  @media #{$breakpoint-mobile} {
    margin-left: 0;
  }

  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.76%;
  *margin-left: 2.70%;
  @include box-sizing(border-box);
}

.row-fluid [class^="col"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class^="col"] + [class^="col"] {
  margin-left: 2.76%;
}

  .row-fluid .col12 { width: 100%; }
  .row-fluid .col11 { width: 91.43%; }
  .row-fluid .col10 { width: 82.87%; }
  .row-fluid .col9 { width: 74.30%; }
  .row-fluid .col8 { width: 65.74%; }
  .row-fluid .col7 { width: 57.18%; }
  .row-fluid .col6 { width: 48.61%; }
  .row-fluid .col5 { width: 40.05%; }
  .row-fluid .col4 { width: 31.49; }
  .row-fluid .col3 { width: 22.92%; }
  .row-fluid .col2 { width: 14.36%; }
  .row-fluid .col1 { width: 5.8%; }

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class^="col"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.12%;
  @include box-sizing(border-box);
  }

.row-fluid [class^="col"]:first-child { margin-left: 0; }
.row-fluid .controls-row [class^="col"] + [class^="col"] { margin-left: 2.12%; }

.row-fluid .col12 { width: 100%; }
.row-fluid .col11 { width: 91.48%; }
.row-fluid .col10 { width: 82.97%; }
.row-fluid .col9 { width: 74.46%; }
.row-fluid .col8 { width: 65.95%; }
.row-fluid .col7 { width: 57.44%; }
.row-fluid .col6 { width: 48.93%; }
.row-fluid .col5 { width: 40.42%; }
.row-fluid .col4 { width: 31.91%; }
.row-fluid .col3 { width: 23.40%; }
.row-fluid .col2 { width: 14.895%; }
.row-fluid .col1 { width: 6.38%; }

@media #{$breakpoint-mobile} {
.row-fluid {
  width: 100%;
}

  [class^="col"],
  .uneditable-input[class^="col"],
  .row-fluid [class^="col"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }
}

[class^="col"].hide,
.row-fluid [class^="col"].hide {
  display: none;
}

[class^="col"].pull-right,
.row-fluid [class^="col"].pull-right {
  float: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.container-fluid {
  @include rem(padding-right, 20);
  @include rem(padding-left, 20);
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}
