/*------------------------------------*\
 * Helpers */
/*------------------------------------ */
@media #{$breakpoint-desktop} {
	.desktop-hidden {
		visibility: hidden;
		display: none;
	}
}

@media #{$breakpoint-tablet} {
	.tablet-hidden {
		visibility: hidden;
		display: none;
	}
}

@media #{$breakpoint-mobile} {
	.mobile-hidden {
		visibility: hidden;
		display: none;
	}
}

@media #{$breakpoint-mobile} {
  .show-mobile {
  	visibility: visible;
  	display: block;
  }
}

.show-mobile {
	display: none;
	visibility: hidden;

	@media #{$breakpoint-mobile} {
		display: block;
		visibility: visible;
	}
}

.show-tablet {
  display: none;
  visibility: hidden;

  @media #{$breakpoint-tablet} {
    display: block;
    visibility: visible;
  }
}

.show-desktop {
  display: none;
  visibility: hidden;

  @media #{$breakpoint-desktop} {
    display: block;
    visibility: visible;
  }
}

.hide {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.fade {
  opacity: 0;
}
