/*------------------------------------*\
 * Jumbotron */
/*------------------------------------ */
.jumbotron {
	@include rem($font-size, $font-h1);
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: $foundation-color-e6e6;
	height: 300px;
	text-align: center;
}

.jumbotron-hr {
	border-top-color: $foundation-color-6666;
}

.jumbotron-fluid {
	padding-right: 0;
	padding-left: 0;
}
