/*------------------------------------*\
 * Lists */
/*------------------------------------ */
ul {
  list-style: disc inside;
  padding-left: 0;
  margin-top: 0;
  ul {
    margin: 0.5rem 0 0.5rem 2rem;
    font-size: 90%;
  }
  ol {
    margin: 0.5rem 0 0.5rem 2rem;
    font-size: 90%;
  }
}
ol {
  list-style: square outside none;
  padding-left: 0;
  margin-top: 0;
  ol {
    margin: 0.5rem 0 0.5rem 2rem;
    font-size: 90%;
  }
  ul {
    margin: 0.5rem 0 0.5rem 2rem;
    font-size: 90%;
  }
}
li {
  margin-bottom: 1rem;
}
