<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolioffff </title>
  <link rel="stylesheet" href="css/taylord.css" />
  <link rel="stylesheet" href="css/portfolio.css" />
  <link rel="stylesheet" href="../../themes/material.css" />
      </head>
<body>
  <!-- You write code for this content block in another file -->
  

<header>

  <a href="#" id="logo"></a>

  <nav>

    <a href="#" id="menu-icon"></a>

    <ul>

      <li><a href="#" class="current">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>

    </ul>

  </nav>

</header>


<!-- Adds the navigation partial -->
<!-- index.html -->
<!-- Importing Nunjucks Macro -->
<div class="jumbotron">
  <h1>My portfolio</h1>
</div>


<div class="container">
<div class="row-fluid">
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
</div>
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
  </div>
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
  </div>
</div>
</div>
<div class="container">
<div class="row-fluid">
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
</div>
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
  </div>
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
  </div>
</div>
</div>
<div class="container">
<div class="row-fluid">
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
</div>
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
  </div>
  <div class="col4">
    <div id="wrapper">
    <img class="portfolio-image" />
    <p class="text">This photo is about: </p>
  </div>
  </div>
</div>
</div>

<hr />
<div class="container">
<div class="row-fluid">
<div class="row">
  <div class="col4">
    <h3>Prima fierent eum</h3>
    <p>Eros sem mauris mattis litora hymenaeos id. Pharetra massa sit nisl convallis nulla, diam adipiscing sem sagittis tincidunt, et fusce, adipiscing quis neque, a euismod sapiente dis sollicitudin in. Arcu id adipiscing sapien ut sollicitudin purus, viverra posuere cursus, wisi maecenas orci elit enim quam condimentum, dictum amet vel, mauris risus scelerisque quisque arcu tempor magna. Mauris euismod imperdiet placerat pharetra, nec praesent, ac lorem facilisi ut at nulla eget, justo risus duis quisque varius.</p>
  </div>
  <div class="col4">
    <h3>Prima fierent eum</h3>
    <p>Eros sem mauris mattis litora hymenaeos id. Pharetra massa sit nisl convallis nulla, diam adipiscing sem sagittis tincidunt, et fusce, adipiscing quis neque, a euismod sapiente dis sollicitudin in. Arcu id adipiscing sapien ut sollicitudin purus, viverra posuere cursus, wisi maecenas orci elit enim quam condimentum, dictum amet vel, mauris risus scelerisque quisque arcu tempor magna. Mauris euismod imperdiet placerat pharetra, nec praesent, ac lorem facilisi ut at nulla eget, justo risus duis quisque varius.</p>
  </div>
  <div class="col4">
    <h3>Prima fierent eum</h3>
    <p>Eros sem mauris mattis litora hymenaeos id. Pharetra massa sit nisl convallis nulla, diam adipiscing sem sagittis tincidunt, et fusce, adipiscing quis neque, a euismod sapiente dis sollicitudin in. Arcu id adipiscing sapien ut sollicitudin purus, viverra posuere cursus, wisi maecenas orci elit enim quam condimentum, dictum amet vel, mauris risus scelerisque quisque arcu tempor magna. Mauris euismod imperdiet placerat pharetra, nec praesent, ac lorem facilisi ut at nulla eget, justo risus duis quisque varius.</p>
  </div>
</div>
</div>
</div>

<hr />
<div class="container">
<div class="row-fluid">
<div class="row">
  <div class="col6">
    <h3>Contact Me</h3>
    <p>Eros sem mauris mattis litora hymenaeos id. Pharetra massa sit nisl convallis nulla, diam adipiscing sem sagittis tincidunt, et fusce, adipiscing quis neque, a euismod sapiente dis sollicitudin in. Arcu id adipiscing sapien ut sollicitudin purus, viverra posuere cursus, wisi maecenas orci elit enim quam condimentum, dictum amet vel, mauris risus scelerisque quisque arcu tempor magna. Mauris euismod imperdiet placerat pharetra, nec praesent, ac lorem facilisi ut at nulla eget, justo risus duis quisque varius.</p>
    <ul>
      <li><a href="#">Github</a></li>
      <li><a href="#">Flickr</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </div>
  <div class="col6">
    <div class="form-styling">
      <form class="form-group">
        <input type="text" name="field1" placeholder="Full Name" />
        <input type="email" name="field2" placeholder="Email" />
        <input type="url" name="field3" placeholder="Website" />
        <textarea placeholder=" Your Message" onkeyup="adjust_textarea(this)"></textarea>
        <div align="right"><input class="button button-primary" value="Send Message" /></div
        <br /> <br />
      </form>
    </div>
  </div>
</div>
</div>
</div>


<div class="container">
<div class="row-fluid">
<div class="footer">
  <br />
  <p>Posted by: Author</p> | </p> Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p> | <p>Copyright 2017</p>
  <br />
  <br />
</div>
</div>
</div>



</body>
</html>
