/*------------------------------------*\
 * Buttons*/
/*------------------------------------ */
.button
{
  border: none;
}
.button {
    @include button-size($foundation-padding-vertical, $foundation-padding-horizontal, $button-font-size, $foundation-line-height);
  color: $foundation-color-2121;
  border: none;
  display: inline-block;
  font-family: $font-stack;
  font-weight: $font-weight-400;
  text-decoration: none;
  overflow: visible;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.button-small {
  @include button-size($foundation-padding-small-vertical, $foundation-padding-small-horizontal, $button-font-size-small, $line-height-small);
}

.button-large {
  @include button-size($foundation-padding-large-vertical, $foundation-padding-large-horizontal, $button-font-size-small, $line-height-large);

}

.button-pill {
@include border-radius($border-radius * 4);
}

.button-link {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.button-full {
  display: block;
  width: 100%;
}

a.button-default {
  color: $foundation-color-2121;
  text-decoration: none;
}

//
// Primary Button
//
.button-primary {
	@include button-version($button-primary-color, $button-primary-background);
}

.button-danger {
	@include button-version($button-danger-color, $button-danger-background);
}

.button-info {
	@include button-version($button-info-color, $button-info-background);
}

.button-warning{
	@include button-version($button-warning-color, $button-warning-background);
}
