// =============================================================
//
//  REM to Pixel Mixin.
//  This mixin gives a REM value
//  and provides a pixel fallback.
//
// =============================================================

@mixin rem($property, $sizeValue) {
  $pxValue: $sizeValue;
  $remValue: ($sizeValue / $rem-size);
  #{$property}: #{$pxValue}px;
  #{$property}: #{$remValue}rem;
}

@mixin button-size($foundation-padding-vertical, $foundation-padding-horizontal, $button-font-size, $foundation-line-height) {
  padding: $foundation-padding-vertical $foundation-padding-horizontal;
  font-size: $button-font-size;
  text-transform: uppercase;
  line-height: $foundation-line-height;
}

@mixin button-version($color, $background) {
	color: $foundation-white;
	background-color: $background;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius; }

@mixin panel-title($bg, $color, $border-bottom-color ) {
    background-color: $bg;
    color: $color;
    border-bottom-color: $border-bottom-color;
  }

  @mixin box-sizing($value) {
    -moz-box-sizing: $value;
    -webkit-box-sizing: $value;
    box-sizing: $value;
  }
