<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product</title>
  <link rel="stylesheet" href="css/taylord.css" />
  <link rel="stylesheet" href="css/product.css" />
  <link rel="stylesheet" href="../../themes/material.css" />
      </head>
<body>

  <!-- You write code for this content block in another file -->
  

<header>

  <a href="#" id="logo"></a>

  <nav>

    <a href="#" id="menu-icon"></a>

    <ul>

      <li><a href="#" class="current">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>

    </ul>

  </nav>

</header>


<!-- Adds the navigation partial -->
<!-- index.html -->
<!-- Importing Nunjucks Macro -->
<div class="img-container"></div>

<div class="container">
  <div class="row-fluid">
    <div class="col12">
      <h1>Lorem Ipsum</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
      <div align="right">
        <a href="#" class="button button-primary">Find Out More</a>
        <a href="#" class="button button-primary">Find Out Less</a>
      </div>
    </div>

    <div class="col12">
      <div class="col3">
        <h3>Lorum</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="col3">
        <h3>Ipsum</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="col3">
        <h3>Dolor</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="col3">
        <h3>Sit Amet</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
    </div>

    <div class="col12">
      <div class="col6">
        <img class="thumbnail" src="http://placehold.it/700x250">
          <h4>Nulla At Nulla Justo, Eget</h4>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in.</p>
      </div>
      <div class="col6">
        <img class="thumbnail" src="http://placehold.it/700x250">
        <h4>Nulla At Nulla Justo, Eget</h4>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="row">
      <div class="col4">
        <h3>Prima fierent eum</h3>
        <p>Eros sem mauris mattis litora hymenaeos id. Pharetra massa sit nisl convallis nulla, diam adipiscing sem sagittis tincidunt, et fusce, adipiscing quis neque, a euismod sapiente dis sollicitudin in. Arcu id adipiscing sapien ut sollicitudin purus,
          viverra posuere cursus, wisi maecenas orci elit enim quam condimentum, dictum amet vel, mauris risus scelerisque quisque arcu tempor magna. Mauris euismod imperdiet placerat pharetra, nec praesent, ac lorem facilisi ut at nulla eget, justo risus duis
          quisque varius.</p>
      </div>
      <div class="col4">
        <h3>Prima fierent eum</h3>
        <p>Eros sem mauris mattis litora hymenaeos id. Pharetra massa sit nisl convallis nulla, diam adipiscing sem sagittis tincidunt, et fusce, adipiscing quis neque, a euismod sapiente dis sollicitudin in. Arcu id adipiscing sapien ut sollicitudin purus,
          viverra posuere cursus, wisi maecenas orci elit enim quam condimentum, dictum amet vel, mauris risus scelerisque quisque arcu tempor magna. Mauris euismod imperdiet placerat pharetra, nec praesent, ac lorem facilisi ut at nulla eget, justo risus duis
          quisque varius.</p>
      </div>
      <div class="col4">
        <h3>Prima fierent eum</h3>
        <p>Eros sem mauris mattis litora hymenaeos id. Pharetra massa sit nisl convallis nulla, diam adipiscing sem sagittis tincidunt, et fusce, adipiscing quis neque, a euismod sapiente dis sollicitudin in. Arcu id adipiscing sapien ut sollicitudin purus,
          viverra posuere cursus, wisi maecenas orci elit enim quam condimentum, dictum amet vel, mauris risus scelerisque quisque arcu tempor magna. Mauris euismod imperdiet placerat pharetra, nec praesent, ac lorem facilisi ut at nulla eget, justo risus duis
          quisque varius.</p>
      </div>
    </div>
  </div>
</div>



</body>
</html>
