button
  border: none

.button
  .button-size: $foundation-padding-vertical, $foundation-padding-horizontal, $button-font-size, $foundation-line-height, $border-radius
  color: $foundation-color-2121
  border: 1px solid transparent
  display: inline-block
  font-family: $font-stack
  font-weight: $font-weight-400
  text-decoration: none
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
  -webkit-transition: all 0.25s ease
  -moz-transition: all 0.25s ease
  transition: all 0.25s ease

.button-large
  padding: 0.875rem 1.5rem
  font-size: 1.25rem
  line-height: 1.70625
  border-radius: 6px

.button-small
  padding: 0.4rem 0.6rem
  font-size: 0.875rem
  line-height: 1rem
  border-radius: 6px
  
.button-pill
  -webkit-border-radius: 24px
  -moz-border-radius: 24px
  -ms-border-radius: 24px
  -o-border-radius: 24px
