<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Blog</title>
  <link rel="stylesheet" href="../../assets/css/taylord.css" />
  <link rel="stylesheet" href="css/blog.css" />
</head>
<body>

  <!-- You write code for this content block in another file -->
  

<header>

  <a href="#" id="logo"></a>

  <nav>

    <a href="#" id="menu-icon"></a>

    <ul>

      <li><a href="#" class="current">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>

    </ul>

  </nav>

</header>


<!-- Adds the navigation partial -->
<!-- index.html -->
<!-- Importing Nunjucks Macro -->
<div class="jumbotron">
  <h1>Blog Title</h1>
  <h2>Add your witty blog subtitle here</h2>
</div>


<div class="container">
  <div class="row-fluid">
    <div class="col12">
      <div class="blog-post">
        <span align="left"></span><h3>Blog Post Title </span><span align="right"><small>3/6/2015</small></span>
</div>
<br />
        <img class="blog-image">
          <div>
            <input type="checkbox" class="read-more-state" id="post-1" />
            <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p>
            <label for="post-1" class="read-more-trigger"></label>
          </div>
          <div>
          <ul class="comments">
            <li><a href="#" class="blogDetails" align="right">Author: Joe Blogs</a></li>
            <li><a href="#" class="blogDetails" align="right">Comments: None</a></li>
          </ul>
      </div>
    </div>
  </div>
  <br />
<div class="container">
  <div class="row-fluid">
    <div class="col12">
      <div class="blog-post">
        <span align="left"></span><h3>Blog Post Title </span><span align="right"><small>3/6/2015</small></span>
</div>
<br />
        <img class="blog-image">
          <div>
            <input type="checkbox" class="read-more-state" id="post-1" />
            <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p>
            <label for="post-1" class="read-more-trigger"></label>
          </div>
          <div>
          <ul class="comments">
            <li><a href="#" class="blogDetails" align="right">Author: Joe Blogs</a></li>
            <li><a href="#" class="blogDetails" align="right">Comments: None</a></li>
          </ul>
      </div>
    </div>
  </div>
  <br />
<div class="container">
  <div class="row-fluid">
    <div class="col12">
      <div class="blog-post">
        <span align="left"></span><h3>Blog Post Title </span><span align="right"><small>3/6/2015</small></span>
</div>
<br />
        <img class="blog-image">
          <div>
            <input type="checkbox" class="read-more-state" id="post-1" />
            <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p>
            <label for="post-1" class="read-more-trigger"></label>
          </div>
          <div>
          <ul class="comments">
            <li><a href="#" class="blogDetails" align="right">Author: Joe Blogs</a></li>
            <li><a href="#" class="blogDetails" align="right">Comments: None</a></li>
          </ul>
      </div>
    </div>
  </div>
  <br />



</body>
</html>
